{% extends 'base1.html' %}

{% block title %}
    <title>À propos du blog</title>
{% endblock %}

{% block content %}
    <h1>À propos du blog</h1>
    <p>Bienvenue sur mon blog ! Ici, vous trouverez une variété d'articles sur des sujets intéressants. Que ce soit des conseils, des réflexions personnelles ou des analyses approfondies, j'espère que vous trouverez quelque chose qui vous intéresse.</p>
    <p>N'hésitez pas à explorer les différents articles et à laisser des commentaires pour partager vos réflexions.</p>
    <p>Merci de visiter mon blog et j'espère que vous apprécierez votre lecture !</p>
{% endblock %}
